<link rel="stylesheet" href="/css/user_profile.css" />
<h1>Lets post something</h1>
<section id="post">
  <form action="/post/create" id="new-post" method="post">
    <textarea name="content"   cols="30" rows="3"></textarea>
    <input type="submit" value="Post">
  </form>
</section>
